In [2]:
#reading csv file as a dict 
import csv
import pandas as pd
with open("shipping details.csv", "r") as f:
    data = csv.DictReader(f)
    df = pd.DataFrame(data)
df

,Country,Shipping Options,,Price,Mode,Time
0,Afghanistan,"[{""Courier Name"": ""Fedex IP"", ""Shipping Cost"":...",,"NGN 58,008.14",UPS Expedited,7-15 days
1,Aland Islands,"[{""Courier Name"": ""AliExpress Standard Shippin...",,"NGN 33,675.28",UPS Expedited,7-15 days
2,Albania,"[{""Courier Name"": ""Cainiao Super Economy for S...",,"NGN 59,306.40",DHL,9-20 days
3,Alderney,"[{""Courier Name"": ""AliExpress Standard Shippin...",,"NGN 2,041.31",AliExpress Standard Shipping,60-60 days
4,Algeria,"[{""Courier Name"": ""Cainiao Super Economy for S...",,"NGN 59,306.40",DHL,11-30 days
...,...,...,...,...,...,...
214,Wallis And Futuna Islands,"[{""Courier Name"": ""AliExpress Standard Shippin...",,"NGN 26,628.81",UPS Express Saver,7-15 days
215,Yemen,"[{""Courier Name"": ""Fedex IP"", ""Shipping Cost"":...",,"NGN 59,306.40",DHL,7-15 days
216,Zambia,"[{""Courier Name"": ""Cainiao Super Economy for S...",,"NGN 59,306.40",DHL,7-15 days
217,Zanzibar,"[{""Courier Name"": ""AliExpress Standard Shippin...",,"NGN 1,824.23",AliExpress Standard Shipping,32-32 days
218,Zimbabwe,"[{""Courier Name"": ""Cainiao Super Economy for S...",,"NGN 59,306.40",DHL,14-27 days

In [3]:
df.head()

,Country,Shipping Options,,Price,Mode,Time
0,Afghanistan,"[{""Courier Name"": ""Fedex IP"", ""Shipping Cost"":...",,"NGN 58,008.14",UPS Expedited,7-15 days
1,Aland Islands,"[{""Courier Name"": ""AliExpress Standard Shippin...",,"NGN 33,675.28",UPS Expedited,7-15 days
2,Albania,"[{""Courier Name"": ""Cainiao Super Economy for S...",,"NGN 59,306.40",DHL,9-20 days
3,Alderney,"[{""Courier Name"": ""AliExpress Standard Shippin...",,"NGN 2,041.31",AliExpress Standard Shipping,60-60 days
4,Algeria,"[{""Courier Name"": ""Cainiao Super Economy for S...",,"NGN 59,306.40",DHL,11-30 days

In [4]:
#checking the datatype
print(df.applymap(type))

           Country Shipping Options                         Price  \
0    <class 'str'>    <class 'str'>  <class 'str'>  <class 'str'>
1    <class 'str'>    <class 'str'>  <class 'str'>  <class 'str'>
2    <class 'str'>    <class 'str'>  <class 'str'>  <class 'str'>
3    <class 'str'>    <class 'str'>  <class 'str'>  <class 'str'>
4    <class 'str'>    <class 'str'>  <class 'str'>  <class 'str'>
..             ...              ...            ...            ...
214  <class 'str'>    <class 'str'>  <class 'str'>  <class 'str'>
215  <class 'str'>    <class 'str'>  <class 'str'>  <class 'str'>
216  <class 'str'>    <class 'str'>  <class 'str'>  <class 'str'>
217  <class 'str'>    <class 'str'>  <class 'str'>  <class 'str'>
218  <class 'str'>    <class 'str'>  <class 'str'>  <class 'str'>

              Mode           Time
0    <class 'str'>  <class 'str'>
1    <class 'str'>  <class 'str'>
2    <class 'str'>  <class 'str'>
3    <class 'str'>  <class 'str'>
4    <class 'str'>  <class 'str'>
..             ...            ...
214  <class 'str'>  <class 'str'>
215  <class 'str'>  <class 'str'>
216  <class 'str'>  <class 'str'>
217  <class 'str'>  <class 'str'>
218  <class 'str'>  <class 'str'>

[219 rows x 6 columns]

In [5]:
#converting the Ship Column into list
import ast
from ast import literal_eval
def literal_return(val):
    try:
        return ast.literal_eval(val)
    except (ValueError, SyntaxError) as e:
        print(e)
        return []
df['Shipping Options'] = df['Shipping Options'].apply(lambda x: literal_return(x))

unexpected EOF while parsing (<unknown>, line 1)

In [6]:
#checking it has been converted
df.applymap(type)

,Country,Shipping Options,,Price,Mode,Time
0,<class 'str'>,<class 'list'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
1,<class 'str'>,<class 'list'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
2,<class 'str'>,<class 'list'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
3,<class 'str'>,<class 'list'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
4,<class 'str'>,<class 'list'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
...,...,...,...,...,...,...
214,<class 'str'>,<class 'list'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
215,<class 'str'>,<class 'list'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
216,<class 'str'>,<class 'list'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
217,<class 'str'>,<class 'list'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>
218,<class 'str'>,<class 'list'>,<class 'str'>,<class 'str'>,<class 'str'>,<class 'str'>

In [7]:
#checking for the outlier
import numpy as np
np.where(df['Shipping Options'].apply(lambda x:  x== []))

(array([12]),)

In [8]:
df.head(13)

,Country,Shipping Options,,Price,Mode,Time
0,Afghanistan,"[{'Courier Name': 'Fedex IP', 'Shipping Cost':...",,"NGN 58,008.14",UPS Expedited,7-15 days
1,Aland Islands,[{'Courier Name': 'AliExpress Standard Shippin...,,"NGN 33,675.28",UPS Expedited,7-15 days
2,Albania,[{'Courier Name': 'Cainiao Super Economy for S...,,"NGN 59,306.40",DHL,9-20 days
3,Alderney,[{'Courier Name': 'AliExpress Standard Shippin...,,"NGN 2,041.31",AliExpress Standard Shipping,60-60 days
4,Algeria,[{'Courier Name': 'Cainiao Super Economy for S...,,"NGN 59,306.40",DHL,11-30 days
5,American Samoa,[{'Courier Name': 'Cainiao Super Economy Globa...,,"NGN 59,306.40",DHL,7-15 days
6,Andorra,[{'Courier Name': 'Cainiao Super Economy Globa...,,"NGN 33,675.28",UPS Expedited,7-15 days
7,Angola,[{'Courier Name': 'Cainiao Super Economy for S...,,"NGN 59,306.40",DHL,13-31 days
8,Anguilla,[{'Courier Name': 'AliExpress Standard Shippin...,,"NGN 59,306.40",DHL,7-15 days
9,Antigua And Barbuda,[{'Courier Name': 'AliExpress Standard Shippin...,,"NGN 59,306.40",DHL,7-15 days
10,Argentina,[{'Courier Name': 'Cainiao Super Economy Globa...,,"NGN 59,306.40",DHL,15-34 days
11,Aruba,"[{'Courier Name': 'Yanwen Economic Air Mail', ...",,"NGN 59,306.40",DHL,7-15 days
12,Ascension Island,[],,Not available,Not available,Not available

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Country           219 non-null    object
 1   Shipping Options  219 non-null    object
 2                     219 non-null    object
 3   Price             219 non-null    object
 4   Mode              219 non-null    object
 5   Time              219 non-null    object
dtypes: object(6)
memory usage: 10.4+ KB

In [10]:
df.iloc[[11,12,13]]

,Country,Shipping Options,,Price,Mode,Time
11,Aruba,"[{'Courier Name': 'Yanwen Economic Air Mail', ...",,"NGN 59,306.40",DHL,7-15 days
12,Ascension Island,[],,Not available,Not available,Not available
13,Australia,"[{'Courier Name': 'Seller's Shipping Method', ...",,"NGN 27,146.44",UPS Expedited,Estimated delivery on Aug 12

In [11]:
#dropping unwanted columns
df = df.drop(['Price', 'Mode', 'Time'], axis = 1)

In [12]:
df.head(10)

               Country                                   Shipping Options
0          Afghanistan  [{'Courier Name': 'Fedex IP', 'Shipping Cost':...
1        Aland Islands  [{'Courier Name': 'AliExpress Standard Shippin...
2              Albania  [{'Courier Name': 'Cainiao Super Economy for S...
3             Alderney  [{'Courier Name': 'AliExpress Standard Shippin...
4              Algeria  [{'Courier Name': 'Cainiao Super Economy for S...
5       American Samoa  [{'Courier Name': 'Cainiao Super Economy Globa...
6              Andorra  [{'Courier Name': 'Cainiao Super Economy Globa...
7               Angola  [{'Courier Name': 'Cainiao Super Economy for S...
8             Anguilla  [{'Courier Name': 'AliExpress Standard Shippin...
9  Antigua And Barbuda  [{'Courier Name': 'AliExpress Standard Shippin...

In [13]:
#exploding the column to have each nested list item on a separate row
df = df.explode('Shipping Options')
df.head(10)

         Country                                   Shipping Options
0    Afghanistan  {'Courier Name': 'Fedex IP', 'Shipping Cost': ...
0    Afghanistan  {'Courier Name': 'DHL', 'Shipping Cost': 'NGN ...
0    Afghanistan  {'Courier Name': 'UPS Express Saver', 'Shippin...
0    Afghanistan  {'Courier Name': 'UPS Expedited', 'Shipping Co...
1  Aland Islands  {'Courier Name': 'AliExpress Standard Shipping...
1  Aland Islands  {'Courier Name': 'UPS Express Saver', 'Shippin...
1  Aland Islands  {'Courier Name': 'UPS Expedited', 'Shipping Co...
2        Albania  {'Courier Name': 'Cainiao Super Economy for Sp...
2        Albania  {'Courier Name': 'Cainiao Super Economy Global...
2        Albania  {'Courier Name': 'AliExpress Standard Shipping...

In [14]:
#resetting the index
df = df.reset_index(drop=True)
df.head(10)

         Country                                   Shipping Options
0    Afghanistan  {'Courier Name': 'Fedex IP', 'Shipping Cost': ...
1    Afghanistan  {'Courier Name': 'DHL', 'Shipping Cost': 'NGN ...
2    Afghanistan  {'Courier Name': 'UPS Express Saver', 'Shippin...
3    Afghanistan  {'Courier Name': 'UPS Expedited', 'Shipping Co...
4  Aland Islands  {'Courier Name': 'AliExpress Standard Shipping...
5  Aland Islands  {'Courier Name': 'UPS Express Saver', 'Shippin...
6  Aland Islands  {'Courier Name': 'UPS Expedited', 'Shipping Co...
7        Albania  {'Courier Name': 'Cainiao Super Economy for Sp...
8        Albania  {'Courier Name': 'Cainiao Super Economy Global...
9        Albania  {'Courier Name': 'AliExpress Standard Shipping...

In [15]:
df.head(10)
df.iloc[[1,2,3]]

       Country                                   Shipping Options
1  Afghanistan  {'Courier Name': 'DHL', 'Shipping Cost': 'NGN ...
2  Afghanistan  {'Courier Name': 'UPS Express Saver', 'Shippin...
3  Afghanistan  {'Courier Name': 'UPS Expedited', 'Shipping Co...

In [16]:
#normalizing shipping options column
pd.json_normalize(df['Shipping Options'])

                                 Courier Name  Shipping Cost Delivery Time
0                                    Fedex IP  NGN 36,050.54     7-15 days
1                                         DHL  NGN 39,511.16     7-15 days
2                           UPS Express Saver  NGN 57,632.44     7-15 days
3                               UPS Expedited  NGN 58,008.14     7-15 days
4                AliExpress Standard Shipping   NGN 2,041.31    29-29 days
...                                       ...            ...           ...
1835  Cainiao Super Economy for Special Goods     NGN 492.58    58-58 days
1836                                 Fedex IP  NGN 36,050.54     7-15 days
1837                        UPS Express Saver  NGN 57,632.44     7-15 days
1838                            UPS Expedited  NGN 58,008.14     7-15 days
1839                                      DHL  NGN 59,306.40    14-27 days

[1840 rows x 3 columns]

In [17]:
#dropping the Shipping column and joining other tables to it
df_new = pd.concat([df.drop(['Shipping Options'], axis = 1), pd.json_normalize(df['Shipping Options'])],
                   axis = 1)

In [18]:
df_new.head(10)
df_new.iloc[-1]
df_new.iloc[[-1]]

       Country   Courier Name  Shipping Cost Delivery Time
1839  Zimbabwe            DHL  NGN 59,306.40    14-27 days

In [19]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1840 entries, 0 to 1839
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country        1840 non-null   object
 1                  1840 non-null   object
 2   Courier Name   1839 non-null   object
 3   Shipping Cost  1839 non-null   object
 4   Delivery Time  1839 non-null   object
dtypes: object(5)
memory usage: 72.0+ KB

In [20]:
#turning into multi_index
index = pd.MultiIndex.from_frame(df_new)
index

MultiIndex([(  'Afghanistan', '', ...),
            (  'Afghanistan', '', ...),
            (  'Afghanistan', '', ...),
            (  'Afghanistan', '', ...),
            ('Aland Islands', '', ...),
            ('Aland Islands', '', ...),
            ('Aland Islands', '', ...),
            (      'Albania', '', ...),
            (      'Albania', '', ...),
            (      'Albania', '', ...),
            ...
            (       'Zambia', '', ...),
            (       'Zambia', '', ...),
            (       'Zambia', '', ...),
            (       'Zambia', '', ...),
            (     'Zanzibar', '', ...),
            (     'Zimbabwe', '', ...),
            (     'Zimbabwe', '', ...),
            (     'Zimbabwe', '', ...),
            (     'Zimbabwe', '', ...),
            (     'Zimbabwe', '', ...)],
           names=['Country', '', 'Courier Name', 'Shipping Cost', 'Delivery Time'], length=1840)

In [21]:
#turning into a dataframe
df_new = pd.DataFrame(index = index )
df_new

Empty DataFrame
Columns: []
Index: [(Afghanistan, , Fedex IP, NGN 36,050.54, 7-15 days), (Afghanistan, , DHL, NGN 39,511.16, 7-15 days), (Afghanistan, , UPS Express Saver, NGN 57,632.44, 7-15 days), (Afghanistan, , UPS Expedited, NGN 58,008.14, 7-15 days), (Aland Islands, , AliExpress Standard Shipping, NGN 2,041.31, 29-29 days), (Aland Islands, , UPS Express Saver, NGN 31,304.19, 7-15 days), (Aland Islands, , UPS Expedited, NGN 33,675.28, 7-15 days), (Albania, , Cainiao Super Economy for Special Goods, Free Shipping, 59-59 days), (Albania, , Cainiao Super Economy Global, Free Shipping, 61-61 days), (Albania, , AliExpress Standard Shipping, NGN 2,041.31, 40-40 days), (Albania, , AliExpress Premium Shipping, NGN 19,916.30, 19-36 days), (Albania, , Fedex IP, NGN 36,050.54, 7-15 days), (Albania, , UPS Express Saver, NGN 57,632.44, 7-15 days), (Albania, , UPS Expedited, NGN 58,008.14, 7-15 days), (Albania, , DHL, NGN 59,306.40, 9-20 days), (Alderney, , AliExpress Standard Shipping, NGN 2,041.31, 60-60 days), (Algeria, , Cainiao Super Economy for Special Goods, NGN 329.78, 58-58 days), (Algeria, , SunYou Economic Air Mail, NGN 492.58, 60-60 days), (Algeria, , Cainiao Super Economy Global, NGN 943.43, 60-60 days), (Algeria, , AliExpress Standard Shipping, NGN 1,824.23, 54-54 days), (Algeria, , Fedex IP, NGN 36,050.54, 7-15 days), (Algeria, , UPS Express Saver, NGN 57,632.44, 7-15 days), (Algeria, , UPS Expedited, NGN 58,008.14, 7-15 days), (Algeria, , DHL, NGN 59,306.40, 11-30 days), (American Samoa, , Cainiao Super Economy Global, NGN 1,448.53, 60-60 days), (American Samoa, , AliExpress Premium Shipping, NGN 18,396.80, 33-35 days), (American Samoa, , Fedex IP, NGN 21,402.40, 7-15 days), (American Samoa, , UPS Express Saver, NGN 26,628.81, 7-15 days), (American Samoa, , DHL, NGN 59,306.40, 7-15 days), (Andorra, , Cainiao Super Economy Global, NGN 768.10, 60-60 days), (Andorra, , Cainiao Super Economy for Special Goods, NGN 943.43, 58-58 days), (Andorra, , Yanwen Economic Air Mail, NGN 943.43, 60-60 days), (Andorra, , AliExpress Premium Shipping, NGN 13,228.83, 53-53 days), (Andorra, , Fedex IP, NGN 28,235.97, 7-15 days), (Andorra, , DHL, NGN 30,903.45, 7-15 days), (Andorra, , UPS Express Saver, NGN 31,304.19, 7-15 days), (Andorra, , UPS Expedited, NGN 33,675.28, 7-15 days), (Angola, , Cainiao Super Economy for Special Goods, NGN 492.58, 58-58 days), (Angola, , Cainiao Super Economy Global, NGN 492.58, 60-60 days), (Angola, , Yanwen Economic Air Mail, NGN 492.58, 60-60 days), (Angola, , AliExpress Standard Shipping, NGN 2,041.31, 38-38 days), (Angola, , Fedex IP, NGN 36,050.54, 7-15 days), (Angola, , UPS Express Saver, NGN 57,632.44, 7-15 days), (Angola, , UPS Expedited, NGN 58,008.14, 7-15 days), (Angola, , DHL, NGN 59,306.40, 13-31 days), (Anguilla, , AliExpress Standard Shipping, NGN 2,483.80, 60-60 days), (Anguilla, , AliExpress Premium Shipping, NGN 17,349.01, 33-35 days), (Anguilla, , Fedex IP, NGN 35,224.00, 7-15 days), (Anguilla, , UPS Express Saver, NGN 57,632.44, 7-15 days), (Anguilla, , UPS Expedited, NGN 58,008.14, 7-15 days), (Anguilla, , DHL, NGN 59,306.40, 7-15 days), (Antigua And Barbuda, , AliExpress Standard Shipping, NGN 2,262.55, 60-60 days), (Antigua And Barbuda, , AliExpress Premium Shipping, NGN 17,349.01, 33-35 days), (Antigua And Barbuda, , Fedex IP, NGN 35,224.00, 7-15 days), (Antigua And Barbuda, , UPS Express Saver, NGN 57,632.44, 7-15 days), (Antigua And Barbuda, , UPS Expedited, NGN 58,008.14, 7-15 days), (Antigua And Barbuda, , DHL, NGN 59,306.40, 7-15 days), (Argentina, , Cainiao Super Economy Global, NGN 329.78, 61-61 days), (Argentina, , Yanwen Economic Air Mail, NGN 329.78, 61-61 days), (Argentina, , Cainiao Super Economy for Special Goods, NGN 492.58, 59-59 days), (Argentina, , SunYou Economic Air Mail, NGN 684.61, 61-61 days), (Argentina, , Cainiao Standard For Special Goods, NGN 2,262.55, 59-59 days), (Argentina, , AliExpress Standard Shipping, NGN 2,262.55, 61-61 days), (Argentina, , e-EMS, NGN 23,401.96, 20-40 days), (Argentina, , EMS, NGN 23,401.96, 33-57 days), (Argentina, , UPS Expedited, NGN 33,675.28, 20-30 days), (Argentina, , UPS Express Saver, NGN 33,900.70, 7-15 days), (Argentina, , Fedex IP, NGN 35,224.00, 15-27 days), (Argentina, , DHL, NGN 59,306.40, 15-34 days), (Aruba, , Yanwen Economic Air Mail, NGN 196.20, 60-60 days), (Aruba, , Cainiao Super Economy Global, NGN 1,269.03, 30-50 days), (Aruba, , AliExpress Standard Shipping, NGN 2,262.55, 60-60 days), (Aruba, , Fedex IP, NGN 35,224.00, 7-15 days), (Aruba, , UPS Express Saver, NGN 57,632.44, 7-15 days), (Aruba, , UPS Expedited, NGN 58,008.14, 7-15 days), (Aruba, , DHL, NGN 59,306.40, 7-15 days), (Ascension Island, , nan, nan, nan), (Australia, , Seller's Shipping Method, Free Shipping, Sep 30), (Australia, , Cainiao Super Economy Global, Free Shipping, Sep 24), (Australia, , AliExpress Standard Shipping, NGN 684.61, Aug 13), (Australia, , Cainiao Super Economy for Special Goods, NGN 684.61, Sep 22), (Australia, , Cainiao Standard For Special Goods, NGN 2,041.31, Sep 22), (Australia, , AliExpress Premium Shipping, NGN 9,450.95, Aug 25), (Australia, , EMS, NGN 14,673.19, Aug 21), (Australia, , e-EMS, NGN 14,673.19, Sep 05), (Australia, , Fedex IP, NGN 21,402.40, Aug 13), (Australia, , DHL, NGN 23,552.24, Aug 08), (Australia, , UPS Express Saver, NGN 26,628.81, Aug 13), (Australia, , UPS Expedited, NGN 27,146.44, Aug 12), (Austria, , Cainiao Super Economy Global, Free Shipping, Sep 26), (Austria, , Cainiao Super Economy, NGN 237.94, Sep 26), (Austria, , Cainiao Super Economy for Special Goods, NGN 588.60, Oct 24), (Austria, , AliExpress Saver Shipping, NGN 822.37, Aug 28), (Austria, , Cainiao Standard For Special Goods, NGN 1,135.45, Oct 09), (Austria, , AliExpress Standard Shipping, NGN 1,661.43, Aug 24), (Austria, , Cainiao Heavy Parcel Line, NGN 7,468.09, Sep 20), (Austria, , AliExpress Premium Shipping, NGN 10,799.30, Aug 24), (Austria, , EMS, NGN 23,472.93, Aug 18), (Austria, , e-EMS, NGN 28,081.52, Aug 18), (Austria, , Fedex IP, NGN 33,884.00, Aug 17), ...]

[1840 rows x 0 columns]

In [22]:
#exporting to excel file
df_new.to_excel('shipping_details.xlsx')